@charset "UTF-8";
body{ 
   background-repeat: no-repeat;
   background-size:cover;
}
*{      
		margin:2px;
		padding:2px;
	}
	header{
		height:50px;
		border-top:solid 1px blue;
		border-left:solid 1px blue;
		border-right:solid 1px blue;
		text-align: center; 
	}
	nav li{
		float:left;
		list-style-type: none;
		width:150px;
		border-left:solid 2px black;
		background-color:gray;
		opacity: 0.8;
		margin:2px;
		padding:2px;
		
	}
	section{
		width:1100px;
		height:800px;
		float:right;
		border-top:solid 1px blue;
		border-right:solid 1px blue;
	}
	aside{
		width:340px;
		height:800px;
		float:left;
		border-top:solid 1px blue;
		border-right:solid 1px blue;
	}
	footer{
		clear:both;
		margin-left: 0px;
		text-align: center;
		background-color: white;
	}
	a{
		font-size:30px;
		text-decoration: none;
	}
	dd{
		margin:2px;
		padding:2px;
	}
	dt{
		font-size:xx-large;
	}
	iframe {
	    border: none;
}
 #time{
    float: right;
 }
 .active{
    display: none;
 }